.bg{
  position: relative;
  background-image: url('../../assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 134px 0 210px 0;
  height: 615px;

  .allContent{
    position: relative;
  }

  .text__content{
    position: absolute;
    color: #FFFFFF;
    background: #B031DD;
    padding: 218px 21px 181px 40px;
    background-image: url(../../assets/images/text_bg.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    z-index: 22;
    .h1{
      font-size: 78px;
      line-height: 87px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    p{
      max-width: 650px;
      font-weight: 400;
      font-size: 28px;
      line-height: 31px;
      margin-bottom: 63px;
      padding-left: 30px;
    }
    a{
      margin-left: 30px;
      border: 1px solid #fff;
      padding: 9px 17px;
    }

  }
  .picture{
    position: absolute;
    right: 0px;
    z-index: 21;
  }
}

@media screen and (max-width:1575px) {
  .picture{
    padding-right: 35px;
  }
}

@media(max-width:1355px) {
  .picture{
    display: none;
  }
  .text__content{
    background-color: transparent;
    left: 50%;
    transform: translate(-50%);
    background-image: url(../../assets/images/woman.png) !important;
    background-color: transparent !important;
  }
  .h1{
    font-size: 38px !important;
    color:rgba(178, 34, 15, 0.4);
  }
}