.about{
  &__title{
    font-weight: 700;
    font-size: 42px;
    line-height: 129.5%;
    text-align: center;
  }

  .team1{
    display: flex;
    justify-content: end;
    margin: 50px 0 114px;

    // media: 1570px
    @media screen and (max-width:1570px) {
      justify-content: center;
    }

    .background{
      width: 1428px;
      background-color: #fff;
      display: flex;
      align-items: center;

    // media: 1570px
      @media screen and (max-width:1570px) {
        width: 1000px;
        flex-direction: column;
      }
    }

    &__text{
      text-align: right;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      padding: 0 27px 0 0;
      flex-grow: 2;

    // media: 1570px
      @media screen and (max-width:1570px) {
        max-width: 900px;
        text-align: center;
        padding: 0 30px 50px 30px;
      }
    }
  }

  .img__block{
    transform: translateX(-115px);
    max-width: 720px;
    padding: 70px 0;

    @media screen and (max-width:1570px) {
      transform: translate(-20px);
      margin: 0 auto;
    }
  }

  .team2{
    @media screen and (max-width:1570px) {
        display: flex;
        justify-content: center;
    }

    .background2{
      max-width: 1333px;
      height: 320px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width:1570px) {
        width: 1000px;
        flex-direction: column-reverse;
        height: fit-content;
      }
    }

    .team1__text2{
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      padding: 0 0 0 27px;

    // media: 1570px
      @media screen and (max-width:1570px) {
        max-width: 900px;
        text-align: center;
        padding: 0 30px 50px 30px;
      }
    }

    .img__block2{
      transform: translate(100px,15px);

      @media screen and (max-width:1570px) {
        transform: translate(0);
        padding: 70px 0;

        img{
          width: 720px;
        }
      }
    }
  }
}

