.footer{
  background-color:rgba(32, 13, 63, 1);
  margin-top: 100px;
  padding-bottom: 69px;

  .footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:1245px) {
      display: block;
    }
  }


  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:1245px) {
      margin: 30px 0;
      justify-content: center;
    }
  }
  .socials{
    li{
      margin-left: 21px;
    }
  }
  .menu{

     li{
      margin-right: 50px;
     }
  }

  .logos_f{
    width: 191px;
    text-align: center;

    @media screen and (max-width:1245px) {
      margin: 0 auto;
    }

    img{
      text-align: center;
      margin-top: 27px;
    }
  }

  .footer__btns{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    button{
      background-color: transparent;
      border: none;
      color: #fff;
      font-weight: 700;
      font-size: 17.0127px;
      line-height: 197.19%;
      letter-spacing: 0.135em;
      margin-right: 15px;
    }
  }
}