*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Comfortaa';
}
ul,ol{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #fff;
}

.container{
  max-width: 1520px;
  margin: 0 auto;
}