*{
  padding: 0;
  margin: 0;

}
body{
  font-family: 'Comfortaa';
  background: #E5E5E5;
  box-sizing: border-box;
}
ul,ol{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #fff;
}

.container{
  max-width: 1520px;
  margin: 0 auto;
}

@media screen and (max-width:1568px) {
  .container{
    max-width: 1480px;
    padding: 0 35px;
  }
}